.list-container
    margin-top: 20px
    .list-header
        position: relative
        .info
            float: left

        .edit
            display: inline-block
            margin-left: 30px
    .photo-list
        display: block
        clear: both