<ng-container *ngIf="photo">
    <!-- <h2 class="title-row">{{ photo.title }}</h2>
    <div class="title-row favorite-button">
        <button (click)="triggerPhotoSave()" mat-fab color="primary">
            <mat-icon>bookmark</mat-icon>
        </button>
    </div>
    <p>
        <img src="{{ photo.url_m }}" alt="{{ photo.title }}" />
    </p>
    <p>{{ photo.ownername }}</p>
    <p>{{ photo.datetaken }}</p>
    <p>{{ photo.tags }}</p>
    <p>
        <a href="https://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}" target="_top">
            https://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}
        </a>
    </p> -->

    <mat-card class="photo-card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ photo.title }}</mat-card-title>
            <mat-card-subtitle>{{ photo.ownername }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ photo.url_m }}" alt="{{ photo.title }}">
        <mat-card-content>
            <p>{{ photo.datetaken }}</p>
            <p>{{ photo.tags }}</p>
            <p>
                <a href="https://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}" target="_top">
                    https://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}
                </a>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button (click)="triggerPhotoSave()" mat-fab color="primary">
                <mat-icon>bookmark</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>