<ng-container *ngIf="photo">
    <mat-card class="photo-card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ photo.title }}</mat-card-title>
            <mat-card-subtitle>{{ photo.ownername }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ photo.url_m }}" alt="{{ photo.title }}">
        <mat-card-content>
            <p>{{ photo.datetaken }}</p>
            <p>{{ photo.tags }}</p>
            <p>
                <a href="https://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}" target="_top">
                    https://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}
                </a>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="triggerPhotoSave()" mat-fab color="primary">
                <mat-icon>bookmark</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>