<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer mode="side">
    <section>
      <a #seach routerLink="search">Seach</a>
      <a #favorite routerLink="favorite">Favorite</a>
    </section>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<button class="hamburger hamburger--slider" [class.is-active]="drawer.opened" type="button" (click)="drawer.toggle()">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>